<%= form_with(model: fav) do |form| %>
  <% if fav.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fav.errors.count, "error") %> prohibited this fav from being saved:</h2>

      <ul>
        <% fav.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :beach_id %>
    <%= form.text_field :beach_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
