<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beach.name %>
</p>

<p>
  <strong>County:</strong>
  <%= @beach.county %>
</p>

<p>
  <strong>Location:</strong>
  <%= @beach.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @beach.description %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @beach.parking %>
</p>

<p>
  <strong>Restrooms:</strong>
  <%= @beach.restrooms %>
</p>

<p>
  <strong>Campground:</strong>
  <%= @beach.campground %>
</p>

<p>
  <strong>Photo1:</strong>
  <%= @beach.photo1 %>
</p>

<p>
  <strong>Photo2:</strong>
  <%= @beach.photo2 %>
</p>

<p>
  <strong>Photo3:</strong>
  <%= @beach.photo3 %>
</p>

<p>
  <strong>Photo4:</strong>
  <%= @beach.photo4 %>
</p>

<%= link_to 'Edit', edit_beach_path(@beach) %> |
<%= link_to 'Back', beaches_path %>
